@import '../../scss/styles.scss';

.error {
  display: block;
  width: 100%;
  text-align: center;

  .error-img {
    display: block;
    margin: auto;
    max-height: 300px;
  }

  .error-text {
    text-align: center;
    display: block;
  }

  .back-text {
    font-weight: bold;
    color: black;

    &:hover {
      color: $active-nav-color;
    }
  }
}
