@import '../../scss/variables';

.bmw {
  width: 100%;
}

.title {
  position: absolute;
  top: 50%;
  left: 50px;
  font-size: 70px;
  font-family: $lato-bold;
  color: white;
  transform: translateY(-50%);
}