@import '../../scss/variables';

.models {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

  .models-title {
    font-size: 40px;
    padding: 20px 0 20px 0;
    width: 1054px;
  }
}