@import '../scss/variables';

.crop {
  width: 400px;

  .crop-title {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  .crop-validator {
    color: $font-alert;
    font-size: $font-size-small;
  }

  .crop-input {
    display: none;
  }

  .crop-label {
    cursor: pointer;
    display: block;
    margin: auto;
    width: 130px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
    height: 30px;
    background: $background-secundary;
    color: $font-button;
    transition: $transition-default;

    &:hover {
      background: $background-button-hover;
    }
  }

  .crop-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .crop-buttons {
    display: flex;
    justify-content: center;

    .crop-button{
      cursor: pointer;
      border: none;
      background: $background-secundary;
      color: $font-button;
      font-size: $font-size-medium;
      width: 130px;
      line-height: 30px;
      height: 30px;
      transition: $transition-default;
      outline: none;
      margin: 0 5px 0 5px;

      &:hover {
        background: $background-button-hover;
      }
    }
  }
}