@import '../scss/variables';

.forms {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px; bottom: 0; left: 0; right: 0;
  overflow: auto;

  .forms-bg {
    position: fixed;
    right: 0;
    background: $background-secundary;
    height: 100%;
    width: 50%;
    padding-right: 300px;
    margin-right: -300px;
    transform: skewX(-10deg);
    z-index: -1;
  }

  .forms-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

.form {
  background: $background-default;
  box-shadow: $shadow-default;
  box-sizing: border-box;
  font-size: $font-size-medium;
  padding: 15px 15px 0 15px;

  &.onecol {
    width: 330px;
  }

  &.twocol {
    width: 645px;
  }

  .validator {
    color: $font-alert;
    font-size: $font-size-small;
  }

  .form-item {
    margin-bottom: 15px;
    box-sizing: border-box;
    display: block;

    &.fullborder {
      padding: 10px;
      border: $border-default;
    }

    &.bottomborder {
      padding-bottom: 10px;
      border-bottom: $border-default;
    }

    &.onesize {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    &.twosize {
      width: 615px;
    }

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }

    .form-label {
      color: $font-label;
      display: block;
      width: 60%;
      margin-bottom: 10px;
    }

    .form-input {
      display: block;
      outline: none;
      border: none;

      &.file {
        display: none;
      }
    }

    .avatar-preview {
      position: relative;
      float: right;
      max-height: 50px;
      border-radius: 100%;
    }

    .submit-button {
      width: 100%;
      padding: 5px;
      font-size: $font-size-medium;
      border: none;
      color: $font-button;
      background: $background-secundary;
      transition: $transition-default;
      cursor: pointer;

      &:hover {
        background: $background-button-hover;
      }
    }

    .href-text {
      font-size: $font-size-small;
      text-align: center;

      .href-link {
        color: $font-link;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 767px){
  .forms {
    .form {
      &.twocol {
        width: 330px;
      }
    }

    .form-item {
      &.twosize {
        width: 300px;
      }
    }
  }
}