@import '../scss/styles.scss';

.login {
  .user-logo {
    display: inline-block;
    float: right;
    position: relative;
    padding: 18px 18px 0 0;
  }

  .user-svg {
    transition: $global-trans;
    transform: scale(1.3);

    &:hover {
      fill: $active-nav-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .login {
    .user-logo {
      padding: 18px 18px 0 0;
    }
  }
}
