@import '../scss/variables';

.navbar {
  .nav-logo {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 40px;
    padding: 5px;
  }

  .nav-avatar {
    position: absolute;
    top: 5px;
    right: 5px;

    .avatar {
      max-height: 40px;
      max-width: 40px;
      border-radius: 100%;
      box-shadow: 0px 0px 3px 0px $shadow-color-default;
    }
  }

  .hamburger {
    position: absolute;
    top: 5px;
    left: 5px;

    .icon-bg {
      height: 40px;
      width: 40px;
      border-radius: 100%;
      box-shadow: 0px 0px 3px 0px $shadow-color-default;
      background: $hamburger-background;
      cursor: pointer;

      .icon {
        position: relative;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 18px;
        background: $hamburger;
        transition-property: background;
        transition-delay: 0.1s;
    
        &:before, &:after {
          background: $hamburger;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          width: 100%;
        }
    
        &:before {
          top: 5px;
          transform: rotate(0deg);
          transition-property: transform, top;
          transition-delay: 0.0s, 0.1s;
          transition-duration: 0.1s, 0.1s;
        }
    
        &:after {
          top: -5px;
          transform: rotate(0deg);
          transition-property: transform, top;
          transition-delay: 0.0s, 0.1s;
          transition-duration: 0.1s, 0.1s;
        }
    
        &.open {
          background: transparent;
          transition-property: background;
          transition-delay: 0.1s;
    
          &:before {
            top: 0px;
            transform: rotate(-45deg);
            transition-property: top, transform;
            transition-delay: 0.0s, 0.1s;
            transition-duration: 0.1s, 0.1s;
          }
    
          &:after {
            top: 0px;
            transform: rotate(45deg);
            transition-property: top, transform;
            transition-delay: 0.0s, 0.1s;
            transition-duration: 0.1s, 0.1s;
          }
        }
      }
    }
  }

  .arrows {
    position: absolute;
    top: 5px;
    right: 5px;

    .arrow-bg {
      height: 40px;
      width: 40px;
      border-radius: 100%;
      box-shadow: 0px 0px 3px 0px $shadow-color-default;
      cursor: pointer;

      .arrow {
        position: relative;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 12px;
        background: transparent;

        &:before, &:after {
          background: $arrow;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          width: 100%;
        }
    
        &:before {
          left: 3px;
          transform: rotate(-45deg);
          transition: $transition-default;
        }
    
        &:after {
          right: 4px;
          transform: rotate(45deg);
          transition: $transition-default;
        }
    
        &.openarrow {
          &:before {
            transform: rotate(45deg);
            transition: $transition-default;
          }
    
          &:after {
            transform: rotate(-45deg);
            transition: $transition-default;
          }
        }
      }
    }
  }

  .menu {
    overflow: hidden;
    max-height: 0;
    padding: 0;
    margin: 50px 0 0 0;
    clear: both;
    transition: $transition-default linear;

    &.show {
      max-height: 300px;
    }

    .user-panel,
    .dealer-panel {
      padding: 0;
      margin: 0;
      list-style: none;
      line-height: 30px;

      .item {
        text-align: center;

        .navlink {
          text-decoration: none;
          color: $font-color-default;
          transition: $transition-default;

          &:hover {
            color: $font-color-hover;
          }

          &.active {
            color: $font-color-active;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    .nav-logo {
      left: 50%;
      transform: translateX(-50%);
    }

    .arrows {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    .hamburger {
      display: none;
    }

    .nav-avatar {
      right: 50px;
    }

    .menu {
      overflow: auto;
      overflow-x: hidden;
      max-height: none;
      margin: 0;
      clear: none;
      width: 100%;
      display: block;
      transition: none;

      .user-panel,
      .dealer-panel {
        display: inline-block;
        width: 100%;
        float: left;
        line-height: 50px;

        .item {
          display: inline-block;
          float: left;
          padding: 0 10px 0 10px;
        }
      }

      .user-panel {
        margin-left: 150px;
      }

      .dealer-panel {
        float: right;
        overflow: hidden;
        max-height: 0;
        transition: $transition-default linear;

        .item {
          float: right;
        }

        &.show {
          max-height: 50px;
        }
      }
    }
  }
}