@import '../scss/variables';

.menu-wrapper {
  .hamburger {
    position: absolute;
    top: 12px;
    left: 8px;

    .hamburger-bg {
      height: 40px;
      width: 40px;
      cursor: pointer;

      .hamburger-icon {
        position: relative;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 3px;
        width: 24px;
        background: $hamburger-closed;
        transition-property: background;
        transition-delay: 0.1s;
    
        &:before, &:after {
          background: $hamburger-closed;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          width: 100%;
        }
    
        &:before {
          top: 8px;
          transform: rotate(0deg);
          transition-property: transform, top;
          transition-delay: 0.0s, 0.1s;
          transition-duration: 0.1s, 0.1s;
        }
    
        &:after {
          top: -8px;
          transform: rotate(0deg);
          transition-property: transform, top;
          transition-delay: 0.0s, 0.1s;
          transition-duration: 0.1s, 0.1s;
        }
    
        &.open {
          background: transparent;
          transition-property: background;
          transition-delay: 0.1s;
    
          &:before {
            top: 0px;
            background: $hamburger-opened;
            transform: rotate(-45deg);
            transition-property: top, transform;
            transition-delay: 0.0s, 0.1s;
            transition-duration: 0.1s, 0.1s;
          }
    
          &:after {
            top: 0px;
            background: $hamburger-opened;
            transform: rotate(45deg);
            transition-property: top, transform;
            transition-delay: 0.0s, 0.1s;
            transition-duration: 0.1s, 0.1s;
          }
        }
      }
    }
  }

  .avatar {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;

    .avatar-img {
      max-height: 48x;
      max-width: 48px;
      border-radius: 100%;
      box-shadow: $shadow-default;
      transition: $transition-default;
    }
  }

  .menu {
    .item-holder {
      .item {
        box-sizing: border-box;

        &.profile,
        &.admin {
          display: block;
          line-height: 40px;
          background: $background-default;
        }

        .navlink {
          display: block;
          text-decoration: none;
          color: $font-default;
          transition: $transition-default;
          cursor: pointer;

          .menu-icon {
            display: inline-block;
            
            &.left {
              margin-right: 8px;
            }

            &.right {
              margin-left: 8px;
            }

            &.rotate {
              svg {
              transform: rotateX(180deg);}
            }

            svg {
              transition: $transition-default;
              height: 16px;
              fill: $svg-default;
            }
          }

          &:hover {
            background: $background-link-hover;
          }

          &.active {
            background: $background-link-active;
          }
        }

        .admin-items {
          max-height: 0;
          overflow: hidden;
          clear: both;
          transition: $transition-default;

          &.showadmin {
            max-height: 160px;
          }
        }

        .profile-items {
          max-height: 0;
          overflow: hidden;
          clear: both;
          transition: $transition-default;
          
          &.showprofile {
            max-height: 160px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px){
  .menu-wrapper {
    .hamburger {
      display: none;
    }

    .avatar {
      .avatar-img {
        &:hover,
        &.scaled {
          transform: scale(1.1);
        }
      }
    }

    .menu {
      .item-holder {
        .item {
          display: inline-block;
          line-height: 60px;

          .navlink {
            width: 130px;
            text-align: center;
          }
  
          .admin-items {
            position: absolute;
            top: 60px;
            width: 130px;
            box-sizing: border-box;

            .admin-items-wrapper {
              border: $border-default;
              border-top: none;

              .navlink {
                text-align: left;
                padding-left: 10px;
              }
            }
          }
  
          .profile-items {
            position: absolute;
            top: 60px;
            right: 0;
            width: 130px;
            box-sizing: border-box;

            .profile-items-wrapper {
              border: $border-default;
              border-top: none;

              .navlink {
                text-align: left;
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px){
  .menu-wrapper {
    .menu {
      position: fixed;
      width: 0;
      overflow: hidden;
      left: 0;
      top: 60px;
      bottom: 0;
      overflow-x: hidden;
      overflow-y: auto;
      background: $background-default;
      transition: $transition-default;
      white-space: nowrap;

      &.showmenu {
        width: 200px;
        border-right: $border-default;
      }

      .item-holder {
        .item {
          display: block;
          line-height: 40px;

          .navlink {
            padding: 0 0 0 18px;
          }
  
          .admin-items {
            .navlink {
              padding: 0 0 0 36px;
            }
          }
  
          .profile-items {
            max-height: none;
            clear: none;
          }
        }
      }
    }
  }
}