@import '../scss/variables';

.popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow: auto;
  z-index: 998;

  .popup-bg {
    position: fixed;
    background: $background-popup;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 999;
    background: $background-default;
    padding: 40px;
    position: relative;

    .popup-close {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;

      .popup-close-icon {
        svg {
          height: 20px;
          fill: red;
        }
      }
    }
  }
}