@import '../scss/variables';

.table {
  display: flex;
  flex-direction: column;
  background: yellow;

  .item {
    padding: 5px;
    width: 100px;
  }

  .row {
    display: flex;
    align-items: flex-start;

    .cell {
      display: flex;
      flex-direction: column;
      margin: 2px;
      background: red;

      .cell-row {
        display: flex;
        flex-direction: row;
        margin: 2px;
        background: white;

        .cell-cell-row {
          display: flex;
          flex-direction: column;
          margin: 2px;
          background: green;
        }
      }
    }
  }
}