@import '../scss/variables';

.table-wrapper{
  display: flex;
  flex-direction: column;
}

.table {
  display: flex;
  flex-direction: column;
  max-width: 1054px;
  border: $border-default;

  .row:nth-child(2n+1) {
    background: $background-secundary;
    color: white;
  }

  .item {
    min-width: 120px;
    padding: 0 5px 0 5px;

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }

    &.clickable {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .row {
    display: flex;
    align-items: flex-start;
    padding: 5px;

    .cell {
      display: flex;
      flex-direction: column;

      &.left {
        align-items: left;
      }
  
      &.center {
        align-items: center;
      }
  
      &.right {
        align-items: right;
      }

      .cell-row {
        display: flex;
        flex-direction: row;
      }
    }
  }

  .email{
    width: min-content;
    word-break: break-all;
    white-space: normal;
  }
}