@font-face {
  font-family: 'Roboto-normal';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-bold';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-normal';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-bold';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-light';
  font-style: normal;
  font-weight: light;
  src: url('../fonts/Lato-Light.ttf') format('truetype');
}
