body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: $roboto;
  font-size: $font-size-medium;
}

header {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  min-height: 70px;
  background: $background-default;
  border-bottom: $border-default;
}