//font(s)
$roboto-normal: 'Roboto-normal', sans-serif;
$roboto-bold: 'Roboto-bold', sans-serif;
$lato-normal: 'Lato-normal', sans-serif;
$lato-bold: 'Lato-bold', sans-serif;
$lato-light: 'Lato-light', sans-serif;

//background color(s)
$background-default: rgba(255, 255, 255, 1.0);
$background-secundary: rgba(15, 125, 7, 1.0);
$background-button-hover: rgba(15, 105, 7, 1.0);
$background-popup: rgba(0, 0, 0, 0.3);
$background-link-hover: rgba(235, 235, 235, 1.0);
$background-link-active: rgba(235, 235, 235, 1.0);

//hamburger color(s)
$hamburger-closed: rgba(0, 0, 0, 1.0);
$hamburger-opened: rgba(0, 0, 0, 1.0);

//font color(s)
$font-default: rgba(0, 0, 0, 1.0);
$font-hover: rgba(15, 125, 7, 1.0);
$font-active: rgba(15, 125, 7, 1.0);
$font-label: rgba(204, 65, 37, 1.0);
$font-button: rgba(255, 255, 255, 1.0);
$font-link: rgba(33, 63, 128, 1.0);
$font-alert: rgba(237, 64, 73, 1.0);

//transition(s)
$transition-default: 0.2s linear;

//svg icon color(s)
$svg-default: rgba(0, 0, 0, 1.0);
$svg-secundary: rgba(255, 255, 255, 1.0);
$svg-hover: rgba(15, 125, 7, 1.0);
$svg-active: rgba(15, 125, 7, 1.0);

//border(s)
$border-default: 2px solid rgba(235, 235, 235, 1.0);

//shadow(s)
$shadow-default: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
$shadow-forms: 15px 15px 10px 0px rgba(0, 0, 0, 0.4);

//font size(s)
$font-size-large: 24px;
$font-size-medium: 20px;
$font-size-small: 14px;

//messages
$success: rgba(3, 173, 43, 1.0);
$alert: rgba(237, 64, 73, 1.0);