@import '../../scss/variables';

.form-bg {
  position: relative;
  height: 100%;
  width: 100%;

  .skewed-bg {
    position: fixed;
    width: 50%;
    right: 0;
    background: $green;
    height: 100%;
    display: block;
    transform: skewX(-10deg);
    padding-right: 300px;
    margin-right: -300px;
  }

  .form-holder {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 50px);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginregister-form {
      background: $grey;
      box-shadow: 0px 0px 20px 0px $darkgrey;
      padding: 30px;
      box-sizing: border-box;

      &.login {
        width: 300px;
      }

      &.register {
        width: 600px;
      }

      .form-title-text {
        font-size: 25px;
        padding: 0 0 10px 0;
        border-bottom: 1px solid $darkgrey;
        margin-bottom: 10px;
      }

      .link {
        padding-top: 10px;
        display: block;
        float: left;
        width: 100%;
        text-align: center;

        .nav-link {
          color: $green;
          text-decoration: none;
        }
      }

      .input-area {
        border: 1px solid $darkgrey;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
        margin: 10px 0 10px 0;

        &.login {
          width: 100%;
          display: block;
          float: left;
        }

        &.register {
          width: 48%;
          display: inline-block;

          &.left {
            float: left;
          }

          &.right {
            float: right;
          }
        }

        label {
          color: $green;
          font-size: 20px;
          display: block;
          float: left;
          width: 100%;
          padding-bottom: 10px;
        }

        input {
          border: none;
          outline: none;
          background: none;
          display: block;
          width: 100%;
          float: left;
        }
      }

      button {
        display: block;
        float: left;
        border: none;
        background: $green;
        font-size: 20px;
        padding: 5px;
        color: $white;
        margin: 10px 0 0 0;
        cursor: pointer;

        &.login {
          width: 100%;
        }

        &.register {
          width: 45%;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
