@import '../../scss/variables';

.forms {

  .forms-bg-skewed {

    position: fixed;
    right: 0;
    width: 50%;
    height: 100%;
    transform: skewX(-10deg);
    padding-right: 300px;
    margin-right: -300px;
    background: $green;

  }// .forms .skewed-forms-bg

  .forms-holder {

    position: relative;
    width: 100%;
    min-height: calc(100vh - 50px);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    form {

      background: $grey;
      box-shadow: 0px 0px 20px 0px $darkgrey;
      box-sizing: border-box;
      padding: 15px;

      &.one_col {

        width: 300px;

      }// form &.login

      &.two_col {

        width: 600px;

      }// form &.register

      .form-field-holder {

        display: inline-block;
        float: left;
        box-sizing: border-box;

        &.fullwidth {

          width: 100%;
          padding: 10px;

          &.button {

            position: relative;
            left: 50%;
            transform: translateX(-50%);

          }// form .form-field-holder &.fullwidth &.button

        }// form .form-field-holder &.fullwidth

        &.halfwidth {

          width: 50%;
          padding: 10px;

        }// form .form-field-holder &.halfwidth

        &.text {

          text-align: center;
          padding: 0 10px 10px 10px;

        }// form .form-field-holder &.text

        .navlink {

          text-decoration: none;
          color: $green;

        }// form .form-field-holder .navlink

        .form-field-border {

          display: block;
          float: left;
          width: 100%;
          box-sizing: border-box;

          &.title {

            padding-bottom: 10px;
            border-bottom: 1px solid $darkgrey;

          }// form .form-field-holder .form-field-border &.title

          &.field {

            padding: 10px;
            border: 1px solid $darkgrey;

          }// form .form-field-holder .form-field-border &.title

          .form-title {

            font-size: 20px;

          }// form .form-field-holder .form-field-border .form-title

          .form-label {

            display: block;
            width: 100%;
            float: left;
            font-size: 20px;
            color: $green;
            margin-bottom: 10px;

          }// form .form-field-holder .form-field-border label

          input[type="text"], input[type="email"], input[type="password"] {

            display: block;
            width: 100%;
            float: left;
            outline: none;
            background: none;
            border: none;

          }// form .form-field-holder .form-field-border input[type="text"], input[type="email"], input[type="password"]

          input[type="file"] {

            height: 0;
            overflow: hidden;
            width: 0;

          }// form .form-field-holder .form-field-border input[type="file"]

          .upload-label {

            display: block;
            float: left;
            width: 100px;
            text-align: center;
            padding: 5px;
            background: $green;
            border: none;
            color: $white;
            cursor: pointer;
            outline: none;

          }// form .form-field-holder .form-field-border .upload-label

        }// form .form-field-holder .form-field-border

        button {

          display: inline-block;
          float: left;
          padding: 5px 0 5px 0;
          border: none;
          background: $green;
          color: $white;
          font-size: 20px;

          &.signin {

            width: 100%;

          }// form .form-field-holder button &.signin

          &.signup {

            width: calc(50% - 25px);
            position: relative;
            left: 50%;
            transform: translateX(-50%);

          }// form .form-field-holder button &.signin

        }// form .form-field-holder button

      }// form .form-field-holder

    }// form

  }// .forms .forms-container

}// .forms
